body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.site-container {
  min-height: 100vh;
}

main {
  flex: 1;
}

.btn-primary {
  background-color: #f0c040;
  color: #000000;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product-card:hover {
  animation: scaleUp 0.3s forwards;
}

.product img {
  width: 100%;
}

.product-info {
  padding: 1rem;
}

.rating span {
  color: #ffc000;
}

.img-large {
  max-width: 100%;
}

.img-thumbnail {
  height: 80px;
}

@keyframes scaleUp {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.03);
  }
}
